## Setup / Step 0

1. Load some basic libraries and set environment variables for AWS access
2. Initiate tileset to test

In [5]:
import eodc_hub_role
import morecantile
import numpy as np
import pandas as pd
from profiler.main import Timer
import sys
sys.path.append('..')
credentials = eodc_hub_role.fetch_and_set_credentials()

In [6]:
tms = morecantile.tms.get("WebMercatorQuad")
zooms = range(12) # Zoom 10 is the level at which you can see large roads, 15 is buildings
xyz_tiles = []
for z in zooms:
    tile = tms.tile(57, 28, z)
    xyz_tiles.append((tile.x, tile.y, tile.z))

xyz_tiles

[(0, 0, 0),
 (1, 0, 1),
 (2, 1, 2),
 (5, 3, 3),
 (10, 6, 4),
 (21, 13, 5),
 (42, 26, 6),
 (84, 53, 7),
 (168, 107, 8),
 (337, 214, 9),
 (674, 428, 10),
 (1348, 857, 11)]

# Profile titiler-xarray

In [11]:
%load_ext autoreload
%autoreload

import xarray_tile_reader
import zarr_reader
import zarr_helpers

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
shapes = ['180x360', '180x360', '569x1138', '1799x3599', '5689x11379', 'one_tenth_planet']

In [13]:
variable = 'data'
bucket = 'nasa-eodc-data-store'
datastores = {}
for shape in shapes:
    store_dir = f"s3://{bucket}/fake_data/store_{shape}.zarr"
    ds = zarr_helpers.open_dataset(store_dir)
    ds_specs = zarr_helpers.get_dataset_specs(shape, store_dir, variable, ds)
    datastores[shape] = ds_specs
    nochunk_store_dir = f"s3://{bucket}/fake_data/store_{shape}_nochunks.zarr"
    ds_nochunk = zarr_helpers.open_dataset(nochunk_store_dir)
    key = f"{shape}_nochunks"
    ds_nochunk_specs = zarr_helpers.get_dataset_specs(key, nochunk_store_dir, variable, ds_nochunk)
    datastores[key] = ds_nochunk_specs

In [16]:
df = pd.DataFrame.from_dict(datastores, orient='index')
df.drop(columns=['collection_name', 'variable', 'source', 'dtype', 'number_coord_chunks', 'compression'])

,shape,lat_resolution,lon_resolution,chunk_size_mb,chunks
180x360,"{'time': 1, 'lat': 180, 'lon': 360}",1.005587,1.002786,0.247192,"{'time': 1, 'lat': 90, 'lon': 360}"
180x360_nochunks,"{'time': 1, 'lat': 180, 'lon': 360}",1.005587,1.002786,0.494385,"{'time': 1, 'lat': 180, 'lon': 360}"
569x1138,"{'time': 1, 'lat': 569, 'lon': 1138}",0.316901,0.316623,0.310936,"{'time': 1, 'lat': 143, 'lon': 285}"
569x1138_nochunks,"{'time': 1, 'lat': 569, 'lon': 1138}",0.316901,0.316623,4.940201,"{'time': 1, 'lat': 569, 'lon': 1138}"
1799x3599,"{'time': 1, 'lat': 1799, 'lon': 3599}",0.100111,0.100056,0.772476,"{'time': 1, 'lat': 225, 'lon': 450}"
1799x3599_nochunks,"{'time': 1, 'lat': 1799, 'lon': 3599}",0.100111,0.100056,49.397285,"{'time': 1, 'lat': 1799, 'lon': 3599}"
5689x11379,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.031646,0.031640,1.933838,"{'time': 1, 'lat': 356, 'lon': 712}"
5689x11379_nochunks,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.031646,0.031640,493.889854,"{'time': 1, 'lat': 5689, 'lon': 11379}"
one_tenth_planet,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.010007,0.010005,1.933838,"{'time': 1, 'lat': 356, 'lon': 712}"
one_tenth_planet_nochunks,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.010007,0.010005,493.889854,"{'time': 1, 'lat': 5689, 'lon': 11379}"

## Test different tiles

Below we test the time to generate tiles from each datastore 10 times.

In [ ]:
niters = 2
tile_results_df = {}
dataset_chunk_sizes = {}
results_df = datastores.copy()

for xyz_tile in xyz_tiles:
    results_df[xyz_tile] = {}
    for shape, data_specs in datastores.items():
        reference, multiscale = False, False

        results_df[xyz_tile][shape] = {
            'time to open (ms)': [],
            'rio reproject (ms)': [],
            'total time (ms)': []
        }
        timings_results = results_df[xyz_tile][shape]
        for iter in range(niters):
            with Timer() as t:
                image_and_timings, cprofile = xarray_tile_reader.tile(
                    data_specs['source'],
                    *xyz_tile,
                    variable=variable,
                )
            total_time = round(t.elapsed * 1000, 2)

            timings = image_and_timings[1]
            timings_results['time to open (ms)'].append(timings['time_to_open']),
            timings_results['rio reproject (ms)'].append(timings['rio.reproject']),
            timings_results['total time (ms)'].append(total_time)
        timings_results['mean time to open (ms)'] = np.mean(timings_results['time to open (ms)'])
        timings_results['mean rio reproject (ms)'] = np.mean(timings_results['rio reproject (ms)']) 
        timings_results['mean total time (ms)'] = np.mean(timings_results['total time (ms)'])

In [14]:
for xyz_tile in xyz_tiles:
    print(f"Results for {xyz_tile}")
    df = pd.DataFrame.from_dict(results_df[xyz_tile], orient='index')
    display(df.sort_values('mean total time (ms)'))
    print()

Results for (0, 0, 0)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[8.21, 6.38]","[18.11, 15.82]","[86.95, 78.74]",7.295,16.965,82.845
569x1138,"[6.41, 6.46]","[37.65, 38.66]","[102.65, 102.49]",6.435,38.155,102.570
180x360,"[9.57, 8.25]","[21.34, 20.68]","[112.92, 94.32]",8.910,21.010,103.620
569x1138_nochunks,"[7.86, 6.84]","[25.65, 20.96]","[91.88, 164.82]",7.350,23.305,128.350
1799x3599_nochunks,"[9.44, 6.84]","[113.15, 88.52]","[183.59, 156.3]",8.140,100.835,169.945
1799x3599,"[7.2, 6.72]","[178.98, 185.08]","[251.08, 252.62]",6.960,182.030,251.850
5689x11379,"[7.4, 7.1]","[1631.9, 1641.16]","[1702.06, 1711.03]",7.250,1636.530,1706.545
one_tenth_planet,"[9.48, 7.86]","[1784.4, 1554.77]","[1859.18, 1624.98]",8.670,1669.585,1742.080
one_tenth_planet_nochunks,"[10.06, 7.01]","[1954.96, 1786.05]","[2027.78, 1854.4]",8.535,1870.505,1941.090
5689x11379_nochunks,"[9.08, 7.88]","[2626.47, 1998.66]","[2705.16, 2077.29]",8.480,2312.565,2391.225

Results for (1, 0, 1)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[7.37, 6.41]","[16.77, 15.37]","[82.88, 77.73]",6.890,16.070,80.305
180x360,"[9.52, 6.49]","[17.32, 15.09]","[86.33, 78.68]",8.005,16.205,82.505
569x1138_nochunks,"[8.24, 6.24]","[21.88, 19.3]","[89.58, 84.23]",7.240,20.590,86.905
1799x3599,"[8.93, 6.58]","[60.09, 59.39]","[128.28, 127.31]",7.755,59.740,127.795
569x1138,"[8.9, 6.42]","[34.07, 23.04]","[100.25, 167.03]",7.660,28.555,133.640
1799x3599_nochunks,"[7.99, 7.15]","[93.98, 53.01]","[165.68, 121.05]",7.570,73.495,143.365
5689x11379,"[9.03, 8.03]","[405.0, 484.38]","[477.83, 561.57]",8.530,444.690,519.700
5689x11379_nochunks,"[8.69, 7.59]","[842.38, 835.53]","[921.0, 913.15]",8.140,838.955,917.075
one_tenth_planet,"[8.51, 8.36]","[1516.75, 1453.98]","[1685.62, 1531.92]",8.435,1485.365,1608.770
one_tenth_planet_nochunks,"[7.3, 7.84]","[1774.57, 1652.04]","[1850.61, 1729.04]",7.570,1713.305,1789.825

Results for (2, 1, 2)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[8.0, 7.39]","[18.7, 17.82]","[95.99, 94.82]",7.695,18.260,95.405
180x360,"[8.56, 7.1]","[19.73, 17.72]","[99.99, 94.65]",7.830,18.725,97.320
569x1138,"[8.95, 7.17]","[29.56, 24.02]","[106.21, 97.79]",8.060,26.790,102.000
1799x3599,"[7.98, 7.32]","[40.35, 41.09]","[118.98, 117.92]",7.650,40.720,118.450
569x1138_nochunks,"[8.42, 8.07]","[24.85, 20.22]","[187.01, 98.05]",8.245,22.535,142.530
1799x3599_nochunks,"[7.55, 8.1]","[85.93, 50.6]","[161.1, 127.54]",7.825,68.265,144.320
5689x11379,"[7.3, 7.88]","[183.21, 191.79]","[259.95, 275.17]",7.590,187.500,267.560
5689x11379_nochunks,"[7.19, 7.33]","[755.56, 726.93]","[839.84, 800.91]",7.260,741.245,820.375
one_tenth_planet,"[7.7, 8.03]","[1139.35, 1113.64]","[1215.56, 1272.44]",7.865,1126.495,1244.000
one_tenth_planet_nochunks,"[7.6, 7.28]","[1388.03, 1402.29]","[1462.17, 1473.56]",7.440,1395.160,1467.865

Results for (5, 3, 3)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[7.22, 6.46]","[18.6, 17.37]","[91.93, 86.68]",6.840,17.985,89.305
180x360,"[8.1, 7.26]","[16.93, 15.98]","[93.91, 85.4]",7.680,16.455,89.655
1799x3599,"[7.64, 6.66]","[24.97, 21.06]","[96.48, 89.68]",7.150,23.015,93.080
180x360_nochunks,"[6.65, 7.19]","[23.98, 16.07]","[97.56, 89.83]",6.920,20.025,93.695
569x1138_nochunks,"[6.97, 6.43]","[21.92, 16.96]","[90.55, 162.97]",6.700,19.440,126.760
1799x3599_nochunks,"[6.35, 8.09]","[82.43, 44.77]","[154.3, 116.14]",7.220,63.600,135.220
5689x11379,"[7.78, 7.77]","[77.84, 65.91]","[155.53, 139.69]",7.775,71.875,147.610
one_tenth_planet,"[7.24, 7.5]","[453.6, 550.27]","[527.65, 621.27]",7.370,501.935,574.460
5689x11379_nochunks,"[7.22, 7.98]","[685.14, 699.96]","[755.55, 772.17]",7.600,692.550,763.860
one_tenth_planet_nochunks,"[7.45, 7.14]","[916.21, 936.9]","[987.42, 1009.09]",7.295,926.555,998.255

Results for (10, 6, 4)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[6.66, 6.82]","[15.64, 15.61]","[84.82, 81.7]",6.740,15.625,83.260
180x360,"[7.02, 6.89]","[16.4, 17.05]","[87.95, 83.35]",6.955,16.725,85.650
569x1138,"[6.53, 6.79]","[16.04, 16.88]","[82.48, 91.74]",6.660,16.460,87.110
569x1138_nochunks,"[8.87, 7.24]","[27.58, 18.72]","[107.94, 88.74]",8.055,23.150,98.340
5689x11379,"[6.94, 6.82]","[37.53, 28.49]","[105.8, 95.29]",6.880,33.010,100.545
1799x3599_nochunks,"[6.7, 6.67]","[76.39, 44.15]","[144.68, 110.6]",6.685,60.270,127.640
1799x3599,"[7.5, 7.21]","[24.12, 20.43]","[177.14, 92.33]",7.355,22.275,134.735
one_tenth_planet,"[7.86, 7.91]","[129.54, 132.92]","[201.85, 206.46]",7.885,131.230,204.155
5689x11379_nochunks,"[7.24, 7.46]","[678.66, 670.71]","[750.47, 743.01]",7.350,674.685,746.740
one_tenth_planet_nochunks,"[7.23, 7.04]","[697.29, 710.75]","[768.41, 784.3]",7.135,704.020,776.355

Results for (21, 13, 5)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[6.43, 8.31]","[15.89, 15.51]","[81.61, 84.49]",7.370,15.700,83.050
569x1138,"[6.85, 6.79]","[16.09, 16.03]","[83.3, 82.92]",6.820,16.060,83.110
1799x3599,"[6.72, 6.73]","[20.83, 17.66]","[88.45, 85.6]",6.725,19.245,87.025
569x1138_nochunks,"[6.56, 7.19]","[23.69, 17.47]","[94.41, 86.54]",6.875,20.580,90.475
5689x11379,"[7.5, 7.29]","[22.73, 18.51]","[100.35, 87.2]",7.395,20.620,93.775
one_tenth_planet,"[7.32, 6.99]","[50.96, 50.8]","[123.52, 123.22]",7.155,50.880,123.370
180x360,"[7.09, 7.43]","[98.44, 15.98]","[171.17, 86.32]",7.260,57.210,128.745
1799x3599_nochunks,"[6.7, 7.85]","[78.53, 45.95]","[227.82, 119.35]",7.275,62.240,173.585
5689x11379_nochunks,"[7.2, 7.24]","[669.75, 663.79]","[740.81, 735.35]",7.220,666.770,738.080
one_tenth_planet_nochunks,"[7.29, 7.78]","[673.32, 677.49]","[743.14, 749.03]",7.535,675.405,746.085

Results for (42, 26, 6)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[6.6, 6.86]","[16.32, 15.39]","[82.32, 81.62]",6.730,15.855,81.970
1799x3599,"[6.62, 7.04]","[16.83, 15.94]","[82.37, 83.75]",6.830,16.385,83.060
569x1138_nochunks,"[6.49, 7.53]","[20.2, 17.86]","[85.48, 84.6]",7.010,19.030,85.040
180x360_nochunks,"[7.37, 7.12]","[17.86, 15.43]","[89.05, 82.72]",7.245,16.645,85.885
one_tenth_planet,"[7.33, 7.32]","[37.53, 25.05]","[111.21, 99.75]",7.325,31.290,105.480
180x360,"[7.24, 6.55]","[17.27, 16.08]","[86.17, 168.33]",6.895,16.675,127.250
5689x11379,"[7.28, 7.59]","[21.78, 17.48]","[176.79, 87.33]",7.435,19.630,132.060
1799x3599_nochunks,"[7.15, 6.72]","[79.21, 46.24]","[148.45, 115.98]",6.935,62.725,132.215
one_tenth_planet_nochunks,"[7.9, 7.21]","[690.56, 677.9]","[765.86, 751.79]",7.555,684.230,758.825
5689x11379_nochunks,"[6.52, 9.14]","[688.08, 684.04]","[759.92, 760.95]",7.830,686.060,760.435

Results for (84, 53, 7)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[6.44, 6.9]","[16.86, 16.03]","[84.59, 82.67]",6.670,16.445,83.630
1799x3599,"[6.93, 7.01]","[17.05, 15.81]","[85.57, 82.55]",6.970,16.430,84.060
180x360,"[7.08, 6.69]","[16.54, 15.71]","[87.15, 82.63]",6.885,16.125,84.890
5689x11379,"[7.4, 7.2]","[19.69, 17.56]","[90.87, 86.83]",7.300,18.625,88.850
569x1138_nochunks,"[7.4, 7.06]","[21.51, 17.6]","[93.06, 86.69]",7.230,19.555,89.875
one_tenth_planet,"[7.07, 7.19]","[31.32, 22.69]","[105.07, 91.22]",7.130,27.005,98.145
569x1138,"[6.43, 7.5]","[16.96, 16.87]","[164.98, 91.45]",6.965,16.915,128.215
1799x3599_nochunks,"[6.73, 7.16]","[79.3, 45.76]","[148.36, 115.88]",6.945,62.530,132.120
one_tenth_planet_nochunks,"[6.76, 7.23]","[657.69, 664.12]","[727.83, 735.66]",6.995,660.905,731.745
5689x11379_nochunks,"[7.28, 7.54]","[661.39, 672.76]","[730.16, 820.7]",7.410,667.075,775.430

Results for (168, 107, 8)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[6.71, 6.72]","[16.25, 15.68]","[81.64, 82.69]",6.715,15.965,82.165
180x360_nochunks,"[6.65, 6.42]","[15.46, 15.65]","[82.79, 82.12]",6.535,15.555,82.455
1799x3599,"[6.64, 6.41]","[16.75, 15.9]","[83.39, 82.09]",6.525,16.325,82.740
180x360,"[7.24, 6.56]","[16.23, 15.5]","[85.8, 82.4]",6.900,15.865,84.100
5689x11379,"[7.26, 7.41]","[18.65, 17.06]","[86.02, 82.78]",7.335,17.855,84.400
one_tenth_planet,"[10.98, 7.6]","[20.01, 19.09]","[99.9, 88.0]",9.290,19.550,93.950
569x1138_nochunks,"[6.49, 7.37]","[20.74, 18.13]","[170.57, 90.28]",6.930,19.435,130.425
1799x3599_nochunks,"[6.45, 7.14]","[80.52, 45.19]","[149.76, 114.14]",6.795,62.855,131.950
5689x11379_nochunks,"[6.73, 7.28]","[658.85, 675.77]","[729.05, 745.43]",7.005,667.310,737.240
one_tenth_planet_nochunks,"[6.64, 7.37]","[669.56, 663.08]","[824.9, 735.2]",7.005,666.320,780.050

Results for (337, 214, 9)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[6.47, 6.69]","[15.75, 15.55]","[82.29, 81.47]",6.580,15.650,81.880
569x1138,"[6.46, 6.54]","[16.38, 15.92]","[83.19, 82.11]",6.500,16.150,82.650
5689x11379,"[7.34, 6.71]","[17.98, 16.59]","[85.53, 82.53]",7.025,17.285,84.030
180x360,"[6.88, 6.71]","[16.27, 15.64]","[86.62, 82.95]",6.795,15.955,84.785
569x1138_nochunks,"[6.34, 6.55]","[20.47, 17.49]","[86.12, 85.1]",6.445,18.980,85.610
one_tenth_planet,"[8.14, 7.51]","[19.51, 18.75]","[91.58, 90.07]",7.825,19.130,90.825
1799x3599,"[6.71, 7.4]","[16.63, 16.78]","[163.63, 88.78]",7.055,16.705,126.205
1799x3599_nochunks,"[6.6, 6.81]","[78.85, 44.4]","[147.23, 112.03]",6.705,61.625,129.630
5689x11379_nochunks,"[6.73, 7.2]","[671.92, 672.27]","[739.49, 743.88]",6.965,672.095,741.685
one_tenth_planet_nochunks,"[7.47, 7.43]","[663.43, 666.16]","[734.34, 817.37]",7.450,664.795,775.855

Results for (674, 428, 10)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
1799x3599,"[6.46, 6.23]","[16.75, 14.07]","[81.24, 77.48]",6.345,15.410,79.360
180x360_nochunks,"[6.49, 6.39]","[15.17, 15.42]","[80.84, 80.42]",6.440,15.295,80.630
569x1138,"[6.35, 6.44]","[16.25, 15.93]","[81.54, 82.96]",6.395,16.090,82.250
569x1138_nochunks,"[6.53, 6.35]","[20.29, 17.09]","[86.63, 82.41]",6.440,18.690,84.520
5689x11379,"[7.16, 6.47]","[17.65, 17.59]","[86.44, 84.27]",6.815,17.620,85.355
one_tenth_planet,"[7.64, 6.68]","[20.22, 18.4]","[89.34, 84.81]",7.160,19.310,87.075
180x360,"[7.55, 7.45]","[17.72, 15.2]","[93.31, 82.13]",7.500,16.460,87.720
1799x3599_nochunks,"[6.95, 7.3]","[76.48, 45.62]","[220.78, 117.61]",7.125,61.050,169.195
one_tenth_planet_nochunks,"[6.46, 7.66]","[667.52, 670.66]","[735.8, 743.51]",7.060,669.090,739.655
5689x11379_nochunks,"[6.44, 7.26]","[678.19, 674.14]","[748.72, 747.11]",6.850,676.165,747.915

Results for (1348, 857, 11)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[7.11, 7.51]","[16.28, 16.73]","[87.82, 88.08]",7.310,16.505,87.950
1799x3599,"[7.25, 7.09]","[17.6, 18.07]","[88.79, 89.91]",7.170,17.835,89.350
569x1138_nochunks,"[7.75, 7.6]","[22.65, 17.32]","[95.68, 90.02]",7.675,19.985,92.850
one_tenth_planet,"[7.23, 8.58]","[20.21, 19.71]","[92.98, 96.98]",7.905,19.960,94.980
180x360_nochunks,"[7.78, 7.67]","[17.58, 15.28]","[100.53, 92.11]",7.725,16.430,96.320
5689x11379,"[7.66, 7.09]","[18.51, 17.03]","[88.38, 168.12]",7.375,17.770,128.250
1799x3599_nochunks,"[7.6, 7.37]","[78.74, 47.4]","[151.07, 117.5]",7.485,63.070,134.285
180x360,"[7.39, 7.11]","[19.8, 16.62]","[103.81, 181.32]",7.250,18.210,142.565
one_tenth_planet_nochunks,"[7.6, 7.31]","[670.97, 665.31]","[743.34, 741.03]",7.455,668.140,742.185
5689x11379_nochunks,"[7.53, 7.29]","[682.22, 682.54]","[757.53, 754.08]",7.410,682.380,755.805

In [32]:
# Dimensions of the grid
grid_width = 5689
grid_height = 11379

# Earth's circumference at the equator in kilometers
earth_circumference_km = 40075

# Calculate the extent of coverage area in kilometers
extent_width_km = earth_circumference_km / grid_width
extent_height_km = earth_circumference_km / grid_height

print(f"Resolution of the global dataset: {extent_width_km} km x {extent_height_km} km")

Resolution of the global dataset: 7.044296009843558 km x 3.5218384743826348 km