## Setup / Step 0

1. Load some basic libraries and set environment variables for AWS access
2. Initiate tileset to test

In [3]:
%%capture
!pip install -r requirements.txt

In [4]:
import eodc_hub_role
import morecantile
import numpy as np
import pandas as pd
from profiler.main import Timer
import sys
sys.path.append('..')
credentials = eodc_hub_role.fetch_and_set_credentials()

In [5]:
tms = morecantile.tms.get("WebMercatorQuad")
zooms = range(12) # Zoom 10 is the level at which you can see large roads, 15 is buildings
xyz_tiles = []
for z in zooms:
    tile = tms.tile(57, 28, z)
    xyz_tiles.append((tile.x, tile.y, tile.z))

xyz_tiles

[(0, 0, 0),
 (1, 0, 1),
 (2, 1, 2),
 (5, 3, 3),
 (10, 6, 4),
 (21, 13, 5),
 (42, 26, 6),
 (84, 53, 7),
 (168, 107, 8),
 (337, 214, 9),
 (674, 428, 10),
 (1348, 857, 11)]

# Profile titiler-xarray

In [6]:
%load_ext autoreload
%autoreload

import xarray_tile_reader
import zarr_reader
import zarr_helpers

In [7]:
shapes = ['180x360', '180x360', '569x1138', '1799x3599', '5689x11379', 'one_tenth_planet']

In [8]:
variable = 'data'
bucket = 'nasa-eodc-data-store'
datastores = {}
for shape in shapes:
    store_dir = f"s3://{bucket}/fake_data/store_{shape}.zarr"
    ds = zarr_helpers.open_dataset(store_dir)
    ds_specs = zarr_helpers.get_dataset_specs(shape, store_dir, variable, ds)
    datastores[shape] = ds_specs
    nochunk_store_dir = f"s3://{bucket}/fake_data/store_{shape}_nochunks.zarr"
    ds_nochunk = zarr_helpers.open_dataset(nochunk_store_dir)
    key = f"{shape}_nochunks"
    ds_nochunk_specs = zarr_helpers.get_dataset_specs(key, nochunk_store_dir, variable, ds_nochunk)
    datastores[key] = ds_nochunk_specs

In [9]:
datastores_df = pd.DataFrame.from_dict(datastores, orient='index')
datastores_df.drop(
    columns=['collection_name', 'variable', 'source', 'dtype', 'number_coord_chunks', 'compression']
).sort_values('lat_resolution')

,shape,lat_resolution,lon_resolution,chunk_size_mb,chunks
one_tenth_planet,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.010007,0.010005,1.933838,"{'time': 1, 'lat': 356, 'lon': 712}"
one_tenth_planet_nochunks,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.010007,0.010005,493.889854,"{'time': 1, 'lat': 5689, 'lon': 11379}"
5689x11379,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.031646,0.031640,1.933838,"{'time': 1, 'lat': 356, 'lon': 712}"
5689x11379_nochunks,"{'time': 1, 'lat': 5689, 'lon': 11379}",0.031646,0.031640,493.889854,"{'time': 1, 'lat': 5689, 'lon': 11379}"
1799x3599,"{'time': 1, 'lat': 1799, 'lon': 3599}",0.100111,0.100056,0.772476,"{'time': 1, 'lat': 225, 'lon': 450}"
1799x3599_nochunks,"{'time': 1, 'lat': 1799, 'lon': 3599}",0.100111,0.100056,49.397285,"{'time': 1, 'lat': 1799, 'lon': 3599}"
569x1138,"{'time': 1, 'lat': 569, 'lon': 1138}",0.316901,0.316623,0.310936,"{'time': 1, 'lat': 143, 'lon': 285}"
569x1138_nochunks,"{'time': 1, 'lat': 569, 'lon': 1138}",0.316901,0.316623,4.940201,"{'time': 1, 'lat': 569, 'lon': 1138}"
180x360,"{'time': 1, 'lat': 180, 'lon': 360}",1.005587,1.002786,0.247192,"{'time': 1, 'lat': 90, 'lon': 360}"
180x360_nochunks,"{'time': 1, 'lat': 180, 'lon': 360}",1.005587,1.002786,0.494385,"{'time': 1, 'lat': 180, 'lon': 360}"

## Test different tiles

Below we test the time to generate tiles from each datastore 10 times.

In [10]:
niters = 2
tile_results_df = {}
dataset_chunk_sizes = {}
results_df = datastores.copy()

for xyz_tile in xyz_tiles:
    results_df[xyz_tile] = {}
    for shape, data_specs in datastores.items():
        reference, multiscale = False, False

        results_df[xyz_tile][shape] = {
            'time to open (ms)': [],
            'rio reproject (ms)': [],
            'total time (ms)': []
        }
        timings_results = results_df[xyz_tile][shape]
        for iter in range(niters):
            with Timer() as t:
                image_and_timings, cprofile = xarray_tile_reader.tile(
                    data_specs['source'],
                    *xyz_tile,
                    variable=variable,
                )
            total_time = round(t.elapsed * 1000, 2)

            timings = image_and_timings[1]
            timings_results['time to open (ms)'].append(timings['time_to_open']),
            timings_results['rio reproject (ms)'].append(timings['rio.reproject']),
            timings_results['total time (ms)'].append(total_time)
        timings_results['mean time to open (ms)'] = np.mean(timings_results['time to open (ms)'])
        timings_results['mean rio reproject (ms)'] = np.mean(timings_results['rio reproject (ms)']) 
        timings_results['mean total time (ms)'] = np.mean(timings_results['total time (ms)'])

In [10]:
for xyz_tile in xyz_tiles:
    print(f"Results for {xyz_tile}")
    df = pd.DataFrame.from_dict(results_df[xyz_tile], orient='index')
    df = df.join(datastores_df)
    display(df.sort_values('lat_resolution'))
    print()

Results for (0, 0, 0)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[215.36, 60.56]","[86.24, 88.68]","[358.82, 205.69]",137.960,87.460,282.255
569x1138,"[59.16, 54.89]","[273.48, 218.24]","[390.94, 333.01]",57.025,245.860,361.975
569x1138_nochunks,"[142.67, 57.94]","[210.4, 98.73]","[410.92, 384.01]",100.305,154.565,397.465
180x360,"[184.12, 61.45]","[349.83, 90.64]","[631.57, 210.41]",122.785,220.235,420.990
1799x3599,"[73.96, 59.13]","[741.89, 557.67]","[875.02, 675.53]",66.545,649.780,775.275
1799x3599_nochunks,"[83.02, 182.39]","[639.03, 639.7]","[779.84, 881.22]",132.705,639.365,830.530
one_tenth_planet,"[107.03, 66.05]","[3802.07, 3019.54]","[3970.21, 3147.51]",86.540,3410.805,3558.860
5689x11379,"[60.49, 104.02]","[3895.01, 3130.64]","[4172.46, 3294.85]",82.255,3512.825,3733.655
one_tenth_planet_nochunks,"[61.8, 66.75]","[10880.84, 6400.21]","[11003.28, 6528.07]",64.275,8640.525,8765.675
5689x11379_nochunks,"[59.0, 54.88]","[13033.0, 6501.24]","[13155.2, 6616.77]",56.940,9767.120,9885.985

Results for (1, 0, 1)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360,"[76.5, 94.6]","[74.18, 52.67]","[207.2, 206.53]",85.550,63.425,206.865
569x1138_nochunks,"[146.92, 55.89]","[89.55, 89.48]","[295.89, 204.75]",101.405,89.515,250.320
180x360_nochunks,"[56.29, 71.31]","[50.15, 51.26]","[161.53, 370.91]",63.800,50.705,266.220
569x1138,"[68.75, 104.13]","[199.25, 96.62]","[327.72, 259.82]",86.440,147.935,293.770
1799x3599,"[128.56, 61.55]","[226.8, 187.69]","[415.29, 308.65]",95.055,207.245,361.970
1799x3599_nochunks,"[135.63, 64.29]","[563.51, 553.58]","[757.19, 675.3]",99.960,558.545,716.245
5689x11379,"[92.3, 62.55]","[1006.85, 799.15]","[1158.15, 920.65]",77.425,903.000,1039.400
one_tenth_planet,"[80.29, 67.15]","[2592.37, 2465.82]","[2928.53, 2594.35]",73.720,2529.095,2761.440
5689x11379_nochunks,"[66.69, 67.2]","[5559.37, 5429.34]","[5688.14, 5557.74]",66.945,5494.355,5622.940
one_tenth_planet_nochunks,"[57.33, 55.38]","[5914.81, 5918.84]","[6033.21, 6035.19]",56.355,5916.825,6034.200

Results for (2, 1, 2)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360,"[60.74, 53.46]","[71.75, 49.14]","[188.11, 157.5]",57.100,60.445,172.805
569x1138_nochunks,"[49.37, 54.52]","[89.41, 87.29]","[195.7, 199.39]",51.945,88.350,197.545
569x1138,"[59.62, 93.52]","[96.43, 64.46]","[216.05, 215.08]",76.570,80.445,215.565
1799x3599,"[54.73, 61.76]","[111.73, 101.73]","[226.01, 222.88]",58.245,106.730,224.445
180x360_nochunks,"[58.63, 51.73]","[47.56, 52.08]","[161.61, 351.85]",55.180,49.820,256.730
5689x11379,"[56.67, 59.78]","[349.48, 355.46]","[464.99, 474.26]",58.225,352.470,469.625
1799x3599_nochunks,"[62.48, 60.93]","[545.91, 544.11]","[665.83, 662.37]",61.705,545.010,664.100
one_tenth_planet,"[60.59, 67.91]","[2071.1, 2073.9]","[2194.1, 2204.85]",64.250,2072.500,2199.475
5689x11379_nochunks,"[69.98, 69.22]","[5376.48, 5374.86]","[5687.66, 5504.53]",69.600,5375.670,5596.095
one_tenth_planet_nochunks,"[58.89, 57.49]","[5835.22, 5825.13]","[5957.19, 6123.18]",58.190,5830.175,6040.185

Results for (5, 3, 3)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[58.87, 55.52]","[49.32, 49.41]","[166.54, 161.88]",57.195,49.365,164.210
180x360,"[64.64, 56.35]","[106.34, 49.21]","[228.68, 160.68]",60.495,77.775,194.680
569x1138,"[53.83, 61.75]","[108.76, 53.62]","[220.05, 172.47]",57.790,81.190,196.260
569x1138_nochunks,"[78.76, 55.9]","[87.69, 89.48]","[227.89, 207.04]",67.330,88.585,217.465
5689x11379,"[59.31, 61.03]","[167.8, 150.88]","[287.73, 271.03]",60.170,159.340,279.380
1799x3599,"[74.7, 69.1]","[117.61, 91.04]","[255.78, 427.6]",71.900,104.325,341.690
1799x3599_nochunks,"[60.32, 60.52]","[548.09, 546.01]","[669.79, 666.21]",60.420,547.050,668.000
one_tenth_planet,"[99.97, 66.32]","[858.39, 981.01]","[1020.41, 1108.27]",83.145,919.700,1064.340
5689x11379_nochunks,"[72.35, 66.49]","[5287.5, 5372.81]","[5423.64, 5500.91]",69.420,5330.155,5462.275
one_tenth_planet_nochunks,"[61.29, 62.27]","[5450.39, 5411.92]","[5573.58, 5534.93]",61.780,5431.155,5554.255

Results for (10, 6, 4)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[54.49, 57.03]","[48.24, 45.97]","[156.36, 157.44]",55.760,47.105,156.900
180x360,"[60.27, 54.67]","[49.13, 50.38]","[165.38, 163.93]",57.470,49.755,164.655
180x360_nochunks,"[53.75, 101.17]","[48.92, 48.44]","[161.72, 208.49]",77.460,48.680,185.105
1799x3599,"[59.52, 60.8]","[90.35, 77.58]","[208.23, 196.08]",60.160,83.965,202.155
5689x11379,"[57.86, 65.37]","[108.94, 104.66]","[226.44, 228.73]",61.615,106.800,227.585
569x1138_nochunks,"[62.1, 63.58]","[84.71, 88.59]","[202.86, 397.09]",62.840,86.650,299.975
one_tenth_planet,"[63.96, 246.66]","[476.17, 256.25]","[601.22, 564.78]",155.310,366.210,583.000
1799x3599_nochunks,"[60.13, 57.66]","[546.27, 544.95]","[665.74, 662.98]",58.895,545.610,664.360
5689x11379_nochunks,"[54.14, 157.37]","[5273.42, 5267.61]","[5387.24, 5485.07]",105.755,5270.515,5436.155
one_tenth_planet_nochunks,"[65.84, 89.28]","[5481.47, 5308.22]","[5607.17, 5458.29]",77.560,5394.845,5532.730

Results for (21, 13, 5)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[65.73, 62.09]","[50.26, 52.3]","[176.0, 173.8]",63.910,51.280,174.900
569x1138,"[59.35, 60.38]","[52.24, 61.75]","[169.96, 181.55]",59.865,56.995,175.755
5689x11379,"[61.27, 67.23]","[63.98, 67.2]","[187.77, 194.75]",64.250,65.590,191.260
180x360,"[77.67, 115.98]","[51.92, 49.41]","[187.71, 225.86]",96.825,50.665,206.785
1799x3599,"[59.72, 61.3]","[86.4, 88.68]","[205.62, 208.97]",60.510,87.540,207.295
569x1138_nochunks,"[67.61, 63.1]","[89.18, 99.69]","[215.25, 413.86]",65.355,94.435,314.555
one_tenth_planet,"[62.92, 61.52]","[161.42, 119.33]","[289.99, 460.43]",62.220,140.375,375.210
1799x3599_nochunks,"[57.58, 58.88]","[549.28, 541.94]","[664.44, 662.34]",58.230,545.610,663.390
5689x11379_nochunks,"[60.81, 60.96]","[5293.17, 5294.04]","[5414.25, 5420.47]",60.885,5293.605,5417.360
one_tenth_planet_nochunks,"[88.25, 70.99]","[5312.01, 5316.34]","[5464.14, 5454.88]",79.620,5314.175,5459.510

Results for (42, 26, 6)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
5689x11379,"[69.44, 62.07]","[59.71, 60.72]","[190.75, 185.15]",65.755,60.215,187.950
569x1138_nochunks,"[68.53, 61.92]","[90.6, 87.45]","[226.76, 211.26]",65.225,89.025,219.010
180x360,"[166.21, 65.26]","[55.72, 52.31]","[289.17, 188.11]",115.735,54.015,238.640
569x1138,"[206.83, 65.23]","[53.75, 56.65]","[327.29, 188.45]",136.030,55.200,257.870
180x360_nochunks,"[108.59, 184.5]","[53.78, 56.89]","[228.77, 310.77]",146.545,55.335,269.770
1799x3599,"[72.63, 95.47]","[56.22, 56.33]","[190.64, 384.01]",84.050,56.275,287.325
one_tenth_planet,"[200.71, 58.2]","[108.27, 98.33]","[367.47, 228.03]",129.455,103.300,297.750
1799x3599_nochunks,"[69.48, 100.91]","[545.1, 546.01]","[674.24, 707.17]",85.195,545.555,690.705
5689x11379_nochunks,"[91.62, 85.13]","[5310.45, 5311.99]","[5463.57, 5456.34]",88.375,5311.220,5459.955
one_tenth_planet_nochunks,"[97.43, 60.32]","[5268.87, 5270.79]","[5428.58, 5610.15]",78.875,5269.830,5519.365

Results for (84, 53, 7)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
1799x3599,"[71.54, 70.56]","[63.86, 55.03]","[204.12, 194.93]",71.050,59.445,199.525
180x360_nochunks,"[106.45, 62.52]","[54.68, 57.03]","[229.74, 187.99]",84.485,55.855,208.865
569x1138,"[108.72, 72.51]","[58.98, 56.45]","[235.09, 197.84]",90.615,57.715,216.465
180x360,"[102.91, 70.16]","[53.19, 77.89]","[222.57, 216.88]",86.535,65.540,219.725
569x1138_nochunks,"[69.5, 82.6]","[88.95, 88.72]","[229.45, 239.05]",76.050,88.835,234.250
5689x11379,"[68.7, 74.85]","[238.51, 59.52]","[366.67, 193.73]",71.775,149.015,280.200
one_tenth_planet,"[96.31, 97.66]","[178.65, 83.32]","[343.6, 248.93]",96.985,130.985,296.265
1799x3599_nochunks,"[77.68, 67.88]","[544.32, 543.99]","[691.24, 674.24]",72.780,544.155,682.740
5689x11379_nochunks,"[59.18, 65.17]","[5257.55, 5258.57]","[5381.63, 5393.1]",62.175,5258.060,5387.365
one_tenth_planet_nochunks,"[62.04, 61.76]","[5267.03, 5289.11]","[5393.8, 5415.64]",61.900,5278.070,5404.720

Results for (168, 107, 8)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
1799x3599,"[71.69, 63.22]","[57.61, 57.79]","[196.53, 187.02]",67.455,57.700,191.775
569x1138,"[67.21, 68.67]","[69.71, 58.07]","[203.78, 193.06]",67.940,63.890,198.420
569x1138_nochunks,"[65.33, 59.38]","[89.9, 90.08]","[222.65, 213.55]",62.355,89.990,218.100
one_tenth_planet,"[85.42, 57.76]","[111.24, 65.51]","[265.55, 189.64]",71.590,88.375,227.595
180x360,"[85.02, 61.72]","[131.07, 53.31]","[280.59, 180.02]",73.370,92.190,230.305
5689x11379,"[145.44, 69.83]","[78.92, 79.14]","[282.21, 205.8]",107.635,79.030,244.005
180x360_nochunks,"[69.34, 60.89]","[55.64, 53.7]","[403.14, 180.87]",65.115,54.670,292.005
1799x3599_nochunks,"[81.14, 63.68]","[563.8, 562.66]","[705.07, 685.78]",72.410,563.230,695.425
one_tenth_planet_nochunks,"[64.28, 59.68]","[5290.79, 5287.18]","[5423.13, 5409.49]",61.980,5288.985,5416.310
5689x11379_nochunks,"[68.71, 69.04]","[5270.96, 5414.54]","[5404.2, 5756.47]",68.875,5342.750,5580.335

Results for (337, 214, 9)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360_nochunks,"[51.66, 50.94]","[47.42, 47.4]","[154.06, 152.81]",51.300,47.410,153.435
569x1138,"[50.77, 55.18]","[48.26, 47.78]","[154.78, 159.98]",52.975,48.020,157.380
5689x11379,"[56.86, 56.83]","[57.46, 71.92]","[172.36, 185.5]",56.845,64.690,178.930
1799x3599,"[81.28, 57.5]","[54.88, 50.49]","[192.17, 167.26]",69.390,52.685,179.715
180x360,"[90.56, 66.96]","[69.99, 49.74]","[217.01, 174.76]",78.760,59.865,195.885
one_tenth_planet,"[55.18, 59.3]","[104.35, 65.69]","[219.75, 365.01]",57.240,85.020,292.380
569x1138_nochunks,"[58.41, 54.26]","[89.0, 86.97]","[385.32, 199.88]",56.335,87.985,292.600
1799x3599_nochunks,"[53.68, 71.33]","[601.9, 566.85]","[713.74, 698.08]",62.505,584.375,705.910
5689x11379_nochunks,"[57.85, 54.88]","[5292.3, 5305.13]","[5409.45, 5420.57]",56.365,5298.715,5415.010
one_tenth_planet_nochunks,"[71.92, 124.55]","[5360.92, 5342.06]","[5493.59, 5527.41]",98.235,5351.490,5510.500

Results for (674, 428, 10)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
180x360,"[57.25, 73.26]","[51.35, 50.36]","[166.86, 180.32]",65.255,50.855,173.590
5689x11379,"[62.94, 56.87]","[58.37, 59.76]","[179.3, 173.98]",59.905,59.065,176.640
569x1138,"[91.18, 61.92]","[50.15, 48.27]","[196.93, 165.31]",76.550,49.210,181.120
180x360_nochunks,"[61.59, 62.09]","[64.5, 62.11]","[183.55, 181.04]",61.840,63.305,182.295
1799x3599,"[101.69, 61.85]","[54.45, 52.7]","[214.18, 169.95]",81.770,53.575,192.065
one_tenth_planet,"[66.89, 63.63]","[94.69, 72.63]","[219.87, 195.82]",65.260,83.660,207.845
569x1138_nochunks,"[55.58, 58.44]","[104.53, 89.43]","[219.01, 387.59]",57.010,96.980,303.300
1799x3599_nochunks,"[64.27, 61.99]","[566.75, 567.0]","[689.56, 688.66]",63.130,566.875,689.110
5689x11379_nochunks,"[61.19, 58.55]","[5305.8, 5304.53]","[5426.0, 5423.17]",59.870,5305.165,5424.585
one_tenth_planet_nochunks,"[63.67, 60.79]","[5263.28, 5442.13]","[5388.16, 5562.6]",62.230,5352.705,5475.380

Results for (1348, 857, 11)

,time to open (ms),rio reproject (ms),total time (ms),mean time to open (ms),mean rio reproject (ms),mean total time (ms)
569x1138,"[64.48, 61.74]","[49.63, 52.43]","[170.34, 171.93]",63.110,51.030,171.135
180x360_nochunks,"[61.48, 60.72]","[50.1, 50.9]","[176.59, 174.57]",61.100,50.500,175.580
180x360,"[58.95, 63.29]","[51.01, 50.12]","[176.14, 176.67]",61.120,50.565,176.405
5689x11379,"[70.98, 62.84]","[60.58, 56.47]","[189.76, 175.39]",66.910,58.525,182.575
569x1138_nochunks,"[59.38, 55.88]","[87.62, 86.22]","[207.31, 199.99]",57.630,86.920,203.650
one_tenth_planet,"[60.66, 63.92]","[157.35, 98.78]","[274.98, 221.86]",62.290,128.065,248.420
1799x3599,"[66.68, 64.77]","[59.78, 53.53]","[184.38, 358.83]",65.725,56.655,271.605
1799x3599_nochunks,"[106.99, 65.12]","[562.53, 561.5]","[730.51, 686.64]",86.055,562.015,708.575
5689x11379_nochunks,"[64.25, 60.49]","[5260.48, 5259.0]","[5384.1, 5378.7]",62.370,5259.740,5381.400
one_tenth_planet_nochunks,"[65.24, 87.16]","[5312.51, 5316.81]","[5437.23, 5465.33]",76.200,5314.660,5451.280

In [32]:
# Dimensions of the grid
grid_width = 5689
grid_height = 11379

# Earth's circumference at the equator in kilometers
earth_circumference_km = 40075

# Calculate the extent of coverage area in kilometers
extent_width_km = earth_circumference_km / grid_width
extent_height_km = earth_circumference_km / grid_height

print(f"Resolution of the global dataset: {extent_width_km} km x {extent_height_km} km")

Resolution of the global dataset: 7.044296009843558 km x 3.5218384743826348 km